<div class="mx-auto flex max-w-xl flex-col gap-4 p-4">
  <div class="flex items-center gap-2">
    <button class="btn btn-outline btn-success" (click)="handleCompleteAll()">
      Complete All
    </button>
    <button class="btn btn-outline btn-warning" (click)="handleReopenAll()">
      Reopen All
    </button>
  </div>

  <ul class="list bg-base-100 rounded-box shadow-md">
    @for (item of todos.data(); track $index) {
      <li class="list-row">
        <div class="text-4xl font-thin tabular-nums opacity-30">
          {{ $index + 1 }}
        </div>
        <div class="list-col-grow">
          <div>{{ item.title }}</div>
          <div class="text-xs font-semibold uppercase opacity-60">
            {{ item.description }}
          </div>
        </div>
        <button
          class="btn btn-square btn-ghost"
          (click)="handleTodoChange(item._id, item.completed)"
        >
          @if (item.completed) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="text-warning size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
              />
            </svg>
          } @else {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="text-success size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
          }
        </button>
      </li>
    }
  </ul>
</div>
